# Opinet 싼 주유소 찾기 - 지역별

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tqdm.notebook import tqdm

import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [8]:
driver = webdriver.Chrome()
url = "https://www.opinet.co.kr/user/main/mainView.do"
driver.get(url)
time.sleep(2)

In [10]:
# 팝업창 싼 주유소 찾기 클릭
driver.find_element(By.CSS_SELECTOR, '.ic_m1').click()

In [11]:
# 지역 - 서울 copy Xpath
metro = driver.find_element(By.XPATH, '//*[@id="SIDO_NM0"]')
metro.send_keys("서울")
time.sleep(1)

In [13]:
metro.text.split()

['시/도',
 '서울',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '강원',
 '충북',
 '충남',
 '전북',
 '전남',
 '경북',
 '경남',
 '제주']

In [21]:
# 시/군/구 XPATH
sigungu = driver.find_element(By.XPATH,'//*[@id="SIGUNGU_NM0"]')
gu_list = sigungu.find_elements(By.CSS_SELECTOR, 'option')

In [24]:
gu_name = []
for gu in gu_list:
    gu_name.append(gu.text)
gu_name

['시/군/구',
 '강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [26]:
gu_name = [gu.text for gu in gu_list]

del gu_name[0]

gu_name

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [27]:
# 엑셀 저장 버튼
driver.find_element(By.XPATH,'//*[@id="glopopd_excel"]/span').click()

In [32]:
# 25개 자치구에 대해서 주유소 정보 엑셀 저장
for gu in gu_name:
    sigungu = driver.find_element(By.XPATH,'//*[@id="SIGUNGU_NM0"]')
    time.sleep(3)
    sigungu.send_keys(gu)
    time.sleep(5)
    driver.find_element(By.XPATH,'//*[@id="glopopd_excel"]/span').click()

KeyboardInterrupt:

In [33]:
driver.close()

# 구별 휘발유 가격에 대한 데이터 정리

In [35]:
import pandas as pd
from glob import glob
import warnings
warnings.filterwarnings('ignore')

In [38]:
# c:\python\test\naver
print("c:\python\test\naver")
print(r'c:\python\test\naver')
print('c:\\python\\test\\naver')

c:\python	est
aver
c:\python\test\naver
c:\python\test\naver

In [47]:
glob(r'C:\workspace\crawling\gasData\지역*.xls') # r=raw 이스케이프문자
# 지역으로 시작하고 xls파일
# *.*
# *.py

['C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (1).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (10).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (11).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (12).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (13).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (14).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (15).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (16).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (17).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (18).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (19).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (2).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (20).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (21).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (22).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (23).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (24).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (3).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (4).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (5).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (6).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (7).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (8).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소) (9).xls',
 'C:\\workspace\\crawling\\gasData\\지역_위치별(주유소).xls']

In [42]:
# 엑셀파일 다루는 패키지 설치
# !pip install xlrd

In [48]:
file = glob(r'C:\workspace\crawling\gasData\지역*.xls')[0]
df = pd.read_excel(file, header=2)
df.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),현대오일뱅크,02-487-2030,Y,-,1669,1542,-
1,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1684,1595,-
2,서울특별시,대성석유(주)길동주유소,서울 강동구 천호대로 1168,GS칼텍스,02-474-7222,N,1875,1686,1638,1600
3,서울특별시,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),GS칼텍스,02-426-5372,Y,1869,1689,1650,-
4,서울특별시,(주)삼표에너지 고덕주유소,서울 강동구 고덕로 39 (암사동),GS칼텍스,02-441-3327,Y,1895,1689,1635,1585

In [55]:
df_list=[]
for file in glob(r'C:\workspace\crawling\gasData\지역*.xls'):
    gs = pd.read_excel(file, header = 2)
    df_list.append(gs)

In [56]:
df = pd.concat(df_list)
print(df.shape)
df

(441, 10)

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),현대오일뱅크,02-487-2030,Y,-,1669,1542,-
1,서울특별시,구천면주유소,서울 강동구 구천면로 357 (암사동),현대오일뱅크,02-441-0536,N,-,1684,1595,-
2,서울특별시,대성석유(주)길동주유소,서울 강동구 천호대로 1168,GS칼텍스,02-474-7222,N,1875,1686,1638,1600
3,서울특별시,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),GS칼텍스,02-426-5372,Y,1869,1689,1650,-
4,서울특별시,(주)삼표에너지 고덕주유소,서울 강동구 고덕로 39 (암사동),GS칼텍스,02-441-3327,Y,1895,1689,1635,1585
...,...,...,...,...,...,...,...,...,...,...
29,서울특별시,㈜새서울석유 새서울주유소,서울 강남구 압구정로 154,현대오일뱅크,02-543-1154,N,2457,2258,2158,-
30,서울특별시,SK논현주유소,서울 강남구 논현로 747 (논현동),SK에너지,02-511-0955,N,2499,2270,2195,1835
31,서울특별시,갤러리아주유소,서울 강남구 압구정로 426,SK에너지,02-540-4965,N,2472,2275,2218,1790
32,서울특별시,(주)제이제이네트웍스 제이제이주유소,서울 강남구 언주로 716,현대오일뱅크,02-518-5631,N,2598,2348,2257,-
33,서울특별시,(주)만정에너지 삼보주유소,서울 강남구 봉은사로 433 (삼성동),GS칼텍스,02-518-5141,N,2818,2578,2540,1850

In [57]:
df = df[['상호','주소','휘발유','셀프여부','상표']]
df.head()

                     상호                            주소   휘발유 셀프여부      상표
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1669    Y  현대오일뱅크
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1684    N  현대오일뱅크
2          대성석유(주)길동주유소              서울 강동구 천호대로 1168  1686    N   GS칼텍스
3        지에스칼텍스㈜ 동서울주유소        서울 강동구 천호대로 1456 (상일동)  1689    Y   GS칼텍스
4        (주)삼표에너지 고덕주유소           서울 강동구 고덕로 39 (암사동)  1689    Y   GS칼텍스

In [59]:
df.rename(columns={'휘발유':'가격', '셀프여부':'셀프'}, inplace=True)
df.head()

                     상호                            주소    가격 셀프      상표
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1669  Y  현대오일뱅크
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1684  N  현대오일뱅크
2          대성석유(주)길동주유소              서울 강동구 천호대로 1168  1686  N   GS칼텍스
3        지에스칼텍스㈜ 동서울주유소        서울 강동구 천호대로 1456 (상일동)  1689  Y   GS칼텍스
4        (주)삼표에너지 고덕주유소           서울 강동구 고덕로 39 (암사동)  1689  Y   GS칼텍스

In [60]:
df['구'] = df["주소"].str.split().str[1]
#df['구'] = df.주소.str.split().str[1]
df.head()

                     상호                            주소    가격 셀프      상표    구
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1669  Y  현대오일뱅크  강동구
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1684  N  현대오일뱅크  강동구
2          대성석유(주)길동주유소              서울 강동구 천호대로 1168  1686  N   GS칼텍스  강동구
3        지에스칼텍스㈜ 동서울주유소        서울 강동구 천호대로 1456 (상일동)  1689  Y   GS칼텍스  강동구
4        (주)삼표에너지 고덕주유소           서울 강동구 고덕로 39 (암사동)  1689  Y   GS칼텍스  강동구

In [64]:
df["구"].nunique()

25

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 33
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      441 non-null    object
 1   주소      441 non-null    object
 2   가격      441 non-null    int64
 3   셀프      441 non-null    object
 4   상표      441 non-null    object
 5   구       441 non-null    object
dtypes: int64(1), object(5)
memory usage: 24.1+ KB

In [67]:
# 가격 "-"
df['가격'].unique()

array([1669, 1684, 1686, 1689, 1696, 1720, 1725, 1738, 1831, 1978, 1615,
       1620, 1635, 1645, 1653, 1665, 1679, 1685, 1698, 1715, 1718, 1735,
       1748, 1790, 1639, 1719, 1747, 1789, 1799, 1835, 1637, 1667, 1699,
       1708, 1764, 1619, 1624, 1628, 1629, 1633, 1638, 1659, 1675, 1695,
       1709, 1728, 1594, 1678, 1681, 1697, 1701, 1705, 1706, 1714, 1729,
       1745, 1749, 1752, 1754, 1768, 1775, 1784, 1785, 1793, 1948, 1989,
       1625, 1654, 1694, 1746, 1788, 1792, 1962, 1965, 2135, 2148, 1664,
       1707, 1734, 1739, 1767, 1795, 1884, 1892, 1657, 1663, 1670, 1673,
       1677, 1682, 1687, 1688, 1713, 1848, 1595, 1605, 1649, 1658, 1778,
       1779, 1647, 1655, 1674, 1704, 1769, 1898, 1909, 2075, 2150, 2199,
       1668, 1999, 2019, 2030, 2039, 2173, 2175, 2237, 2398, 2749, 1604,
       1607, 1609, 1614, 1617, 1627, 2045, 2228, 2230, 2240, 1765, 1828,
       1879, 1998, 2287, 2509, 2753, 1643, 1644, 1656, 1676, 1680, 1690,
       1693, 1737, 1758, 1895, 1995, 1756, 1759, 1798, 1852, 1727, 1757,
       2198, 1740, 1623, 1780, 1797, 1979, 2018, 2048, 2081, 2180, 2207,
       2246, 2258, 2270, 2275, 2348, 2578], dtype=int64)

In [69]:
df = df[df["가격"] != "-"]
df["가격"] = df["가격"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 33
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      441 non-null    object
 1   주소      441 non-null    object
 2   가격      441 non-null    int32
 3   셀프      441 non-null    object
 4   상표      441 non-null    object
 5   구       441 non-null    object
dtypes: int32(1), object(5)
memory usage: 22.4+ KB

In [70]:
df.to_csv('서울_주유소(230418).csv', index=False)

# 서울시 구별 주유소 데이터 분석 및 시각화

In [72]:
import numpy as np
import pandas as pd

import requests
from urllib.parse import quote

import folium, json

In [73]:
df = pd.read_csv("./서울_주유소(230418).csv")
df.head()

                     상호                            주소    가격 셀프      상표    구
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1669  Y  현대오일뱅크  강동구
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1684  N  현대오일뱅크  강동구
2          대성석유(주)길동주유소              서울 강동구 천호대로 1168  1686  N   GS칼텍스  강동구
3        지에스칼텍스㈜ 동서울주유소        서울 강동구 천호대로 1456 (상일동)  1689  Y   GS칼텍스  강동구
4        (주)삼표에너지 고덕주유소           서울 강동구 고덕로 39 (암사동)  1689  Y   GS칼텍스  강동구

In [87]:
# 구별 집계 분석
gu_mm = df.groupby('구')["가격"].agg(['mean', 'min', 'max'])
gu_mm

             mean   min   max
구
강남구   1942.294118  1623  2578
강동구   1735.000000  1669  1978
강북구   1649.916667  1629  1707
강서구   1696.818182  1628  1995
관악구   1744.714286  1685  1852
광진구   1684.538462  1654  1748
구로구   1737.200000  1645  2198
금천구   1699.090909  1665  1769
노원구   1699.428571  1629  1795
도봉구   1673.687500  1639  1767
동대문구  1687.055556  1615  1790
동작구   1738.333333  1639  1835
마포구   1699.909091  1637  1764
서대문구  1669.428571  1619  1728
서초구   1737.033333  1594  1989
성동구   1797.062500  1625  2148
성북구   1693.782609  1625  1892
송파구   1684.827586  1633  1848
양천구   1676.291667  1595  1779
영등포구  1731.851852  1625  2199
용산구   2169.500000  1948  2749
은평구   1639.000000  1604  1748
종로구   1951.000000  1689  2240
중구    2053.400000  1649  2753
중랑구   1661.153846  1635  1719

In [89]:
# 해당구에서 최대값 최소값만 구하기
# 예 강남구
_, mi, ma = gu_mm.loc['강남구'] # mean은 안쓸거라 변수명 _로 익명처리
mi, ma = int(mi), int(ma)
mi, ma

(1623, 2578)